.parent{
  padding-right: 20px;
  z-index: 1 !important;

  .not-password{
    margin-top: 40px;

    h4{
      font-family: 'Overpass', sans-serif
    }
  }

  .searchbar{
    z-index: 10;
  }

  .searchbar .one, .two, .three{
    margin-right: 10px;
  }

  .searchbar img {
    margin-top: -5px
  }

  .password-box {
    padding-right: 0px;
    margin-bottom: 5%;
  }

  .passwords {
    padding: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    margin-right: 0px;
    border: 1px solid lightgrey;
    cursor: pointer;

    .left{
      height: inherit;
      width: 80px;
      color: white;
      font-family: 'Poppins', sans-serif;
      background-color: #13be3a;
      display: inline-flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      font-size: 30px;
    }

    .right{
      width: 100%;
      height: 100%;
      display: inline-flex;
      align-content: center;
      align-items: center;
      justify-content: space-between;
      padding-left: 10px;
      padding-right: 10px;

      p{
        margin-top: 15px;
      }
    }
  }

  .passwords:hover {
    border: 1px solid #13be3a;
  }
}
