<div class="parent">

  <!-- seacrh bar-->

  <div class="searchbar d-flex justify-content-between shadow-sm">
    <div class="one">
      <p>Credentials</p>
    </div>

    <div class="form-group two d-flex">
      <input type="text" class="form-control" id="">
      <img src="../../../../../assets/icons/search.svg" alt="">
    </div>

    <div class="three">
      <button [routerLink]="['/dashboard/add']" class="btn add-btn">Add Credentials</button>
    </div>
  </div>

  <!-- main content area -->

  <div [ngSwitch]="state">

    <!-- loading -->

    <div class="d-flex justify-content-center mt-3" *ngSwitchCase="'loading'">
        <div>Getting Passwords</div> <div class="lds-dual-ring ml-3"></div>
    </div>

    <!-- if the person has no password -->

    <div *ngSwitchCase="'empty'" class="d-flex justify-content-center w-100 mt-5">
      <div class="d-flex flex-column">
        <img src="../../../../../assets/images/nopassword.svg" width="400" alt="">
        <p class="text-center tx mt-4">Whoops! Looks like you haven't added anything yet?</p>
      </div>
    </div>

    <!-- if there was an error -->

    <div *ngSwitchCase="'error'" class="d-flex justify-content-center mt-5">
        <div class="d-flex flex-column">
          <img src="../../../../../assets/images/undraw_warning_cyit.svg" width="400" alt="">
          <p class="text-center tx mt-4">Sorry Something went wrong, please login again.</p>
        </div>
    </div>

    <!-- if the person has passwords to display-->

    <div *ngSwitchCase="'contain'">

        <div class="details shadow-sm">

            <div>
              <table mat-table [dataSource]="data" class="">

                  <!-- Position Column -->
          <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>Type</th>
              <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Website | App Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>


            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Phone number </th>
                <td mat-cell *matCellDef="let element"> {{ element.phone }} </td>
            </ng-container>

            <ng-container matColumnDef="password">
                <th mat-header-cell *matHeaderCellDef> Password </th>
                <td mat-cell *matCellDef="let element">
                <show-hide-password size="sm" btnStyle="" [btnOutline]="false">
                  <input type="password" name="..." [value]="element.password" disabled>
                </show-hide-password>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions" class="ml-4">
              <div >
                  <th class="pl-5" mat-header-cell *matHeaderCellDef>Actions</th>
                  <td mat-cell *matCellDef="let element">
                    <div class="d-flex pl-5">
                      <div >
                        <img (click)="openEditModal(element)" src="../../../../../assets/icons/edit-2.svg" width="20" alt="">
                      </div>
                      <div class="pl-3">
                        <img (click)="openDeleteModal(element)" src="../../../../../assets/icons/trash-2.svg" width="20" alt="">
                      </div>
                    </div>
                  </td>
              </div>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              </table>
            </div>

          </div>

    </div>


  </div>

  </div>



