<div class="parent">

  <div class="searchbar d-flex justify-content-between shadow-sm">
    <div class="one">
      <p>Credentials</p>
    </div>

    <div class="form-group two d-flex">
      <input type="text" class="form-control" id="">
      <img src="../../../../../assets/icons/search.svg" alt="">
    </div>

    <div class="three">
      <button [routerLink]="['/dashboard/add']" class="btn add-btn">Add Credentials</button>
    </div>
  </div>

  <div class="details shadow-sm">

    <div>
      <table mat-table [dataSource]="data" class="">

          <!-- Position Column -->
  <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Website | App Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone number </th>
        <td mat-cell *matCellDef="let element"> 090 </td>
    </ng-container>

    <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef> Password </th>
        <td mat-cell *matCellDef="let element"> move  </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element"> move  </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>

  </div>

    <!-- <div class="searchbar d-flex justify-content-end">

        <div *ngIf="state === 'loading'" class="spinner-border tx mr-3" role="status">
            <span class="sr-only">Loading...</span>
        </div>

        <div class="two form-group">
            <select class="form-control" [disabled]="password.length === 0">
              <option value="all">All</option>
              <option value="app">App</option>
              <option value="website">website</option>
            </select>
        </div>

      <div class="one">
        <div class="form-group">
          <input type="text" placeholder="search by name" [disabled]="password.length === 0" class="form-control">
        </div>
      </div>

      <div class="three">
        <button [disabled]="password.length === 0" class="btn btn-success w-100">
          <img src="../../../../../assets/icons/search.svg" width="20"/>
        </button>
      </div>

      <div>
        <button  class="btn btn-primary">
          <img [routerLink]="['/dashboard/add']" routerLinkActive="router-link-active"  src="../../../../../assets/icons/plus-circle.svg" width="20" alt="">
        </button>
      </div>

    </div> -->

  <!-- <div *ngIf="state === 'empty'" class="not-password ">
    <div class="d-flex justify-content-center">
        <img src="../../../../../assets/images/nopassword.svg" width="450" />
    </div>
    <h4 class="text-center tx">Looks like you have no credential, start adding now!</h4>
    <div class="d-flex justify-content-center">
      <button [routerLink]="['/dashboard/add']" routerLinkActive="router-link-active"  class="btn btn-success">Add credential</button>
    </div>
  </div>

  <div *ngIf="state === 'error'" class="not-password ">
      <div class="d-flex justify-content-center">
          <img src="../../../../../assets/images/undraw_warning_cyit.svg" width="350" />
      </div>
      <h4 class="text-center tx">Looks like our servers are down, try again</h4>
      <div class="d-flex justify-content-center">
        <button (click)="retry()" class="btn btn-success">Retry</button>
      </div>
    </div>

  <div *ngIf="state === 'contain'" class="password-box">
    <div class="row no-gutters" >
      <div  *ngFor="let c of password; let i=index" class="col-sm-12 col-md-12 col-lg-4 col-xl-4 pr-2 mt-3">
        <div class="passwords shadow-sm row no-gutters">
          <div class="col-sm-1 col-lg-3 left">
            {{ getFirstCharacter(c.name).toUpperCase() }}
          </div>
          <div class="col-lg-9 right">
            <div class="d-flex justify-content-between">
                <p (click)="navigate(c['_id'], c.name)" class="text-center tx">{{ c.name }}</p>
                <img (click)="openModal(content, i, c)" src="../../../../../assets/icons/trash-2.svg" >
            </div>
            <hr>
            <div class="">
              <div class="pl-1 pr-1">
                <div>
                  <small>
                      {{ checkPassword(c.password) }}
                  </small>
                </div>
                <mat-progress-bar [value]="c.password.length" color="warn"></mat-progress-bar>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- modal for deleting a particular credential-->

  <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete <span class="text-danger">{{ itemName }}</span></h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>Are you sure you want to Delete {{ itemName }}</p>
        <button (click)="delete()" class="btn btn-danger">Delete</button>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
      </div>
    </ng-template>



</div>
