<div class="parent">

  <div *ngIf="password.length === 0" class="not-password ">
    <div class="d-flex justify-content-center">
        <img src="../../../../../assets/images/nopassword.svg" width="500" />
    </div>
    <h4 class="text-center tx">Looks like you have no credential, start adding now!</h4>
    <div class="d-flex justify-content-center">
      <button class="btn btn-success">Add credential</button>
    </div>
  </div>

  <div *ngIf="password.length > 0" class="searchbar d-flex justify-content-end">

      <div class="two form-group">
          <select class="form-control">
            <option value="all">All</option>
            <option value="app">App</option>
            <option value="website">website</option>
          </select>
        </div>

    <div class="one">
      <div class="form-group">
        <input type="text" placeholder="search by name" class="form-control">
      </div>
    </div>

    <div class="three">
      <div class="btn btn-success w-100">
        <img src="../../../../../assets/icons/search.svg" width="20"/>
      </div>
    </div>

    <div>
      <div class="btn btn-primary">
        <img [routerLink]="['/dashboard/add']" routerLinkActive="router-link-active"  src="../../../../../assets/icons/plus-circle.svg" width="20" alt="">
      </div>
    </div>
  </div>

  <div *ngIf="password.length > 0" class="password-box">
    <div class="row no-gutters" >
      <div (click)="navigate(c['_id'], c.name)" *ngFor="let c of password; let i=index" class="col-sm-12 col-md-12 col-lg-4 col-xl-4 pr-2 mt-3">
        <div class="passwords shadow-sm row no-gutters">
          <div class="col-sm-1 col-lg-3 left">
            {{ getFirstCharacter(c.name).toUpperCase() }}
          </div>
          <div class="col-lg-9 right">
            <p class="text-center tx">{{ c.name }}</p>
            <img (click)="delete(i)" src="../../../../../assets/icons/trash-2.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
