<div class="parent shadow-sm">

  <form [formGroup]="form">

      <div class="form-group">
          <label>Type</label>
          <select class="form-control" formControlName="type">
            <option value="Application type"  selected disabled>Application Type</option>
            <option value="App" >App</option>
            <option value="website" >Website</option>
          </select>
        </div>

        <div class="form-group">
          <label>Website | App name</label>
          <input type="text" formControlName="name" class="form-control">
        </div>

        <div class="d-flex justify-content-end">
            <div>
              <button (click)="addNewFields()" mat-mini-fab class="pr" title="add anothoer question and answer">
                <img src="../../../../../../../assets/icons/plus.svg" alt="">
              </button>
            </div>
          </div>

        <div formArrayName="contents">
            <div class="d-flex" *ngFor="let con of Questions.controls; let i= index" [formGroupName]="i">
                <div class="form-group w-100">
                  <label>Question {{i+1}}</label>
                  <input type="text" formControlName="question" class="form-control">
                </div>
                <div class="form-group w-100 ml-4">
                  <label>Answer {{i+1}}</label>
                  <input type="text" formControlName="answer" class="form-control">
                </div>
                <div *ngIf="Questions.length > 1" class="del-btn pl-2">
                  <img (click)="delete(i)" src="../../../../../../../assets/icons/x-circle-red.svg" alt="">
                </div>
            </div>
        </div>

        <div class="">
          <button (click)="submit()" class="btn pr text-white btn-block" [disabled]="form.invalid">Submit</button>
        </div>

  </form>

</div>
