.parent{
  width: 600px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;

  .form-control{
    background-color: whitesmoke;
    border: 1px solid #13be3a
  }

  .del-btn{
    padding-top: 35px;

    img{
      cursor: pointer;
    }
  }
}
