<div class="parent">
  <div class="d-flex justify-content-between">
    <h5  mat-dialog-title>Edit <span class="title">{{ data.name }}</span></h5>
    <div>
        <button mat-flat-button color="warn" mat-dialog-close><img src="../../../../assets/icons/x-circle.svg" class="x-close" alt=""></button>
    </div>
  </div>


  <hr>
  <mat-dialog-content>
    <div class="d-flex justify-content-statrt">
      <div class="w-100">
        <div class="form-group w-100">
          <label >Email</label>
          <input type="text" [value]="data.email" class="w-100 form-control">
        </div>
        <div class="form-group w-100">
            <label >Phone no.</label>
            <input type="text" [value]="data.phone" class="w-100 form-control">
        </div>
        <div class="form-group w-100">
            <label >Password</label>
            <show-hide-password size="md" btnStyle=""  [btnOutline]="false">
                <input type="password" name="..." [value]="data.password" >
            </show-hide-password>
        </div>

        <div class="">
          <div>
            <button *ngIf="!submiting" class="pr btn text-white btn-block" (click)="update()">
              <div > <span>Submit</span></div>
            </button>
            <div *ngIf="submiting" class="d-flex justify-content-center tx">
                <div>Submiting</div> <div class="lds-dual-ring"></div>
             </div>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</div>
