.parent{
  width: 98.5%;

  .searchbar{
    width: 50%;
    padding-top: 10px;
    padding-bottom: 5px !important;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;


    .form-group {

      input{
        width: 35%;
        border: none;
        background-color: lightgrey;
        position: absolute;
        z-index: 1;
      }

      img{
        z-index: 10;
        margin-left: 360px;
        position: relative;
        margin-top: 5px
      }
    }

    button{
      width: 100%;
      margin-left: 30px;
      background-color: #13be3b69;
      color: #13be3a;
    }
  }

  .activities{
    margin-top: 20px;
    width: 100;
  }


}
