<div class="parent ">

  <div *ngIf="activity === 'listing'" class="d-flex justify-content-end">
    <div class="searchbar shadow-sm d-flex justify-content-end">
      <div class="form-group">
        <input type="text" class="form-control">
        <img src="../../../../../assets/icons/search.svg" alt="">
      </div>
      <div>
        <button (click)="activity = 'add'" routerLinkActive="router-link-active"  class="btn btn-block">New</button>
      </div>
    </div>
  </div>

  <div class="activities">
    <div [ngSwitch]="activity">

      <div *ngSwitchCase="'listing'">
        <app-questions [secrets]="secret"></app-questions>
      </div>

      <div *ngSwitchCase="'empty'" class="mt-4 d-flex justify-content-center">
        <div>
          <img src="../../../../../assets/images/nopassword.svg" width="500" alt="">
          <div class="d-flex flex-column">
            <div>
                <p class="text-center tx">You got not Questions Add Questions</p>
            </div>
            <div class="w-100">
              <button (click)="activity = 'add'" routerLinkActive="router-link-active"  class="btn-block btn pr text-white">Add</button>
            </div>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="'loading'" class="d-flex justify-content-center">
          <div class="tx">Getting Secrets</div> <div class="ml-4 lds-dual-ring"></div>
      </div>

      <div *ngSwitchCase="'add'" class="add d-flex justify-content-center">
        <app-add (submitted)="toggleDisplay()"></app-add>
      </div>

      <div *ngSwitchCase="'error'" class="d-flex justify-content-center">
        <div class="d-flex flex-column">
            <img src="../../../../../assets/images/undraw_warning_cyit.svg" width="500" alt="">
            <div class="mt-4">
              <p class="tx text-center">An error occured. Please try again or refresh the page</p>
            </div>
        </div>
      </div>

    </div>
  </div>

</div>
