<div class="parent ">

  <div class="d-flex justify-content-end">
    <div class="searchbar shadow-sm d-flex">
      <div class="form-group">
        <input type="text" class="form-control">
        <img src="../../../../../assets/icons/search.svg" alt="">
      </div>
      <div>
        <button class="btn btn-block">New</button>
      </div>
    </div>
  </div>

  <div class="activities">
    <div [ngSwitch]="activity">

      <div *ngSwitchCase="'listing'">
        <app-questions></app-questions>
      </div>

    </div>
  </div>

</div>
