<div class="parent">

    <div class="row">
        <div class="col-sm-1 col-md-1 col-lg-7 col-xl-7 left">
         <div class="child">

            <h1>All Your Accounts In One place</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, dignissimos vel autem laborum eveniet ratione accusamus quidem saepe soluta optio.</p>

            <div class="buttons d-flex">
              <div class="btn pr text-white" [routerLink]="['/login']" routerLinkActive="router-link-active" >
                  Login
              </div>
              <div class="btn btn-outline-success" [routerLink]="['/signup']" routerLinkActive="router-link-active" >
                  Sign Up
              </div>
            </div>
         </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 right text-center">
          <div class="child">
              <img src="../../../assets/images/Group 3.svg" alt="" srcset="">
          </div>
        </div>
      </div>

</div>
