.parent {

  h3{
    margin-top: 10px;
    font-family: 'Lato', sans-serif
  }

  .form-container {
    width: 500px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px !important;
    font-family: 'Lato', sans-serif;
    background-color: white;
    // margin-top: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
}
