<div class="parent">

  <h3 class="tx text-center">Add Credentials</h3>

  <div class="d-flex justify-content-center">

    <div class="form-container shadow ">

      <form (ngSubmit)="sub()" [formGroup]="credentialForm">

        <div class="form-group">
          <label>Type</label>
          <select class="form-control" id="" formControlName="type">
            <option value="Type" selected disabled>Type</option>
            <option value="App">App</option>
            <option value="Website">Website</option>
          </select>
          <small class="text-right">if its an App or a Website</small><br>
          <small class="text-danger" *ngIf="credentialForm.get('type').touched && credentialForm.get('type').hasError('required')">This field is required</small>
        </div>

        <div class="form-group">
          <label>Appname / Website URL</label>
          <input type="text" class="form-control"
           placeholder="Appname / Website URL"
           formControlName="name">
           <small class="text-danger" *ngIf="credentialForm.get('name').touched && credentialForm.get('name').hasError('required')">This field is required</small>

        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control"
            placeholder="example@email.com"
            formControlName="email">
            <small class="text-danger" *ngIf="credentialForm.get('email').touched &&  credentialForm.get('email').hasError('email')">This is not a valid</small>
            <small class="text-danger" *ngIf="credentialForm.get('email').touched && credentialForm.get('email').hasError('required')">This field is required</small>
        </div>

        <div class="form-group">
            <label>Phone number</label>
            <input type="tel" class="form-control"
            placeholder="Phone"
            formControlName="phone">
            <small class="text-danger" *ngIf="credentialForm.get('phone').touched &&  credentialForm.get('phone').hasError('minlength')">The minimium length is 11</small>
            <small class="text-danger" *ngIf="credentialForm.get('phone').touched &&  credentialForm.get('phone').hasError('maxlength')">The maximium length is 11</small>
            <small class="text-danger" *ngIf="credentialForm.get('phone').touched && credentialForm.get('phone').hasError('required')">This field is required</small>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control"
            placeholder="Password"
            formControlName="password">
            <small class="text-danger" *ngIf="credentialForm.get('password').touched && credentialForm.get('password').hasError('required')">This field is required</small>
            <small class="text-danger" *ngIf="credentialForm.get('password').touched &&  credentialForm.get('password').hasError('minlength')">The minimium length is 8</small>
            <!-- <div class="mt-1">
                <ngb-progressbar type="success" [value]="strength"  height="10px">Password strength</ngb-progressbar>
            </div> -->
        </div>



      </form>
      <button [disabled]="credentialForm.invalid" (click)="submit()" class="btn btn-block btn-success d-flex justify-content-center">
        <span *ngIf="!submiting">Submit</span>
        <div *ngIf="submiting" class="spinner-border " role="status">
            <span class="sr-only">Loading...</span>
          </div>
      </button>

    </div>

  </div>
</div>
