.parent {

  h3{
    font-family: 'Lato', sans-serif
  }

  .form-container {
    width: 500px;
    height: 70vh;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    font-family: 'Lato', sans-serif;
    background-color: whitesmoke;
    margin-top: 20px;
  }
}
