.parent{

  width: 100%;
  // margin-left: 20px;
  // padding-top: 20px;
  color: grey;


  .img-box{
    // width: 100%;
    // height: 120px;
    padding-top: 20px;
    display: inline-flex;
    justify-items: center;

    img{
      width: 90px;
      height: 90px;
      cursor: pointer;
    }
  }

  .info{
    margin-top: 20px;

    .name{
      color: #13be3a;
      margin-top: 30px;
    }

    .email {
      margin-top: -7% !important;
      font-size: 12px;
    }
  }

  .actions{
    // padding-left: 70px;
    margin-left: 40px;
    padding-right: 40px;
    margin-top: 15%;
    font-size: 12px;

   p{
     width: 100%;
   }

    .list-item:hover {
      color: #13be3a !important;
      cursor: pointer;
    }
  }
}
