.parent{
  padding-left: 18px;
  padding-right: 18px;

  .secret{
    width: 100%;
    height: 12vh;
    background-color: white;
    border-radius: 5px;
    // border-left: 3px solid #13be3a;
    padding: 0;;
    margin-bottom: 20px;

    .left{
      width: 350px;
      padding: 10px;
    }

    .left:hover{
      cursor: pointer;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border: 1px solid  lightgrey;
    }

    .right{
      width: 50px;
      border-left: 1px solid lightgrey;
      background-color: #13be3b62;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      cursor: pointer;
    }

    .right img {
      transition: all .5s ease-in-out;
    }

    .right:hover img {
      transform: scale(1.2);
    }
  }
}
