.parent{

  .toast{
    width: 400px;
    z-index: 10;
    position: absolute;
    top: 0.5%;
    left: 250px
  }

  .left{

    .header{
      font-family: 'Poppins', sans-serif;
      padding-top: 30px;
      padding-left: 30px;
    }

    .login-form{
      padding-left: 90px;
      margin-top: 10%;

      .login {
        h3{
          font-family: 'Poppins', sans-serif;
          color: grey
        }

        p{
          color: grey;
        }

        form{
          width: 300px;
          padding-top: 20px;

          label{
            color: grey;
          }

          .forgot-password{
            margin-top: 20px;
            text-decoration: underline;
            cursor: pointer;
            font-size: 13px;
          }
        }
      }
    }
  }


  .right{
    width: 100%;
    height: 100vh;
    background-image: url('../../../../../assets/images/attractive-beautiful-braided-hair-2587462.svg');
    background-position: center;
    background-size: cover;

    .max{
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.301);
    }
  }
}
